@model Payments.Web.Controllers.BasicForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BasicForm</title>
</head>
    <body>
        <h3>ASP form</h3>
        <div>
            <form id="eway-payment-form" action="https://au.ewaypayments.com/hotpotato/payment" method="POST" >
                
                <!-- This field should contain the access code received from eWAY -->
                @Html.HiddenFor(m => m.EWAY_ACCESSCODE)

                @Html.LabelFor(m => m.EWAY_CARDNAME)
                @Html.EditorFor(m => m.EWAY_CARDNAME)

                @Html.LabelFor(m => m.EWAY_CARDNUMBER)
                @Html.EditorFor(m => m.EWAY_CARDNUMBER)
                
                @Html.LabelFor(m => m.EWAY_CARDMONTH)
                @Html.EditorFor(m => m.EWAY_CARDMONTH)
                    /
                @Html.LabelFor(m => m.EWAY_CARDYEAR)
                @Html.EditorFor(m => m.EWAY_CARDYEAR)

                @Html.LabelFor(m => m.EWAY_CARDCVN)
                @Html.EditorFor(m => m.EWAY_CARDCVN)

                <br />
                <input type="submit" value="PAY" />
            </form>
        </div>
    </body>
</html>
